[submodule "dash-pipeline/SAI/SAI"]
	path = dash-pipeline/SAI/SAI
	url = https://github.com/ahsan-kaukab/SAI_Local.git
	branch = development
[submodule "test/SAI-Challenger"]
	path = test/SAI-Challenger
	url = https://github.com/opencomputeproject/SAI-Challenger.git
	branch = main